body{
 
}

#container {
    display: flex;
    background-color: white;
    padding: 100px;
    border-color: black;
    width: fit-content;
}


#box {
    display: flex;
    background-color: darkslateblue;
    padding: 15px;
    color:white;
    border-color: black;
    width: 50px;
    height: 50px;
    background-color: aqua;
    justify-content: space-between;

}