body{
    background-color: #1D1D1D;
    color: white;
}

#reset{
    background-color: black;
    color:white;
    border-radius: 10px;
    border-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 30px;
}

#reset:hover{
  background-color: white;
  color: black;
  border-color: black;
  transition-duration: 0.3s;
  transform: scale(1.15);
  
}

.section{
  display: flex;
  padding-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  margin: 10px;
}

.input {
  display: inline-flex;
  padding: 20px;
}

#gridSizeInput {
  padding: 12px;
}

input {
  border-radius: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  padding: 7px;
  padding-left: 5px;
}

#applySizeButton {
  padding: 8px;
  border-radius: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background-color: black;
  color: white;
}

#applySizeButton:hover{
  transform: scale(1.1);
  transition-duration: 0.3s;


}



.container {
    display: flex;
    width: 560px;
    flex-wrap: wrap;
    background-color: #1D1D1D;
    padding-left: 400px;
    
  }
  
.box {
    display: flex;
    background-color: white;
    color: black;
   border: 1px black;
    justify-content: center;
   
  }

  .info{
    padding-bottom: 30px;
    display: flex;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    justify-content: center;
  }

  .caption {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  a{
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: darkslategray;
    transition-duration: 0.3s;
  }